*{
    margin: 0px;
    padding: 0px;
}
.test {
border: 1px;
border-color: blue;
border-style: solid;
}

footer{
    text-align: center;
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.login_container {
    display: flex;
    text-align: center;
}

.login_box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-image: linear-gradient(seagreen,whitesmoke);
    height: 200px;
    width: 400px;
}
.registration_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-image: linear-gradient(teal ,whitesmoke);
    height: 600px;
    width: 400px;
}

.login_form {
    height: 30px;
}

.dashboard {
    text-align: center;
}